<%-include('partials/head')%>
<a href="/logout"><Button>Logout</Button></a> <button onclick="javascript:history.back()">Go back</button><br>
    <h1><%= customlog.name.toUpperCase()%> BACKLOG</h1>
    <button onclick="onAdd()">Add</button>
    <form action="/deleteCustomlog/<%= user.id %>/<%= customlog.id %>?_method=DELETE" method="post"> 
        <button>Delete custom backlog</button>
    </form>
    
    <div id="overlay" class="add">
        <h1>Add to backlog:</h1>
        <form action="/customTrue/add/<%= user.id %>/<%= customlog.id %>" method="post">
            <input type="text" placeholder="Name (only item required)" name="itemName">
                <input type="text" placeholder="Cover link" name="itemCover">
                <input type="text" placeholder="Date" name="itemReleased">
                <input type="text" hidden value="<%= customlog.name  %>" name="itemType">
            <button>Add</button>
        </form>
        <button onclick="offAdd()">Cancel</button>
    </div> 

    <% let count = 0 %>

    <table>
        <tr>
            
            <% user.backlogs.forEach(log => {if(log.type === customlog.name){%>
                <% if(count % 4 == 0){ %>  <tr></tr> <% } %>
                <th>
                    <p><%=log.name%></p>
                    <a href="/gamedetail/<%=user.id%>/<%= log.id %>/<%= customlog.id %>"><img src="<%= log.cover  %>" alt=""></a>
                    <% count++ %>
                </th>
            <%}}) %>
            
        </tr>
    </table>

<%-include('partials/footer')%>