<%-include('partials/head')%>
<a href="/logout"><Button>Logout</Button></a> <button onclick="javascript:history.back()">Go back</button><br>
<h1>Forum</h1>
<p>
    Rules: <br>
    Discuss the topic of the Forum <br>
    No race theory discussion <br>
    Do not post anything that would get the federal police involved <br>
</p>
<button onclick="onAdd()">New discussion</button>
<div id="overlay" class="add">
    <form action="/forum/add/<%= forum.id %>" method="post">
        <input type="text" hidden name="type" value="<%= type %>" id="">
        <input type="text" name="itemName" placeholder="Name of the topic"><br>
        <textarea name="itemText" placeholder="Type your ideas" id="" cols="30" rows="10"></textarea><br>
        <input type="text" name="itemCover" placeholder="Image link"><br>
        <button>Create post</button>
    </form>
    <button onclick="offAdd()">Cancel</button>
</div>

<% let count = 0 %>
<table>
    <tr>
        
        <% if (forum && forum.discussion) { %>
            <% forum.discussion.forEach(log => { %>
              <% if (log.discussionType === "game") { %>
                <th>
                  <tr>
                    <p>Post by: <%= log.user %></p>
                    <h3><%= log.name %></h3><br>
                    <p><%= log.text %></p>
                    <% if(log.img !== "") {%>
                      <img src="<%= log.img %>" alt="">
                    <% } %>

                    <form action="/forumAnswer/add/<%= forum.id %>/<%= log.id %>?_method=PATCH" method="post">
                      <div id="overlay" class="addAnswer">
                        <textarea name="itemText" id="" cols="30" rows="10"></textarea>
                        <input type="text" name="itemCover">
                        <input type="text" name="type" value="<%= log.discussionType %>" hidden>
                        <button onclick="offAddAnswer()">Confirm</button>
                      </div>
                    </form>
                    <button onclick="onAddAnswer()">Reply</button>
                    <p>Replies:</p><br>
                    <% log.answer.forEach(ans => { %>
                      <p><%= ans.text %></p>
                      <img src="<%= ans.img %>" alt="">
                    <% }) %>

                    <% if(log.user == user.id) {%>
                    <div id="overlay" class="register">
                      <form action="/updateForumDiscussion/<%= forum.id %>/<%= log.id %>?_method=PATCH" method="post">
                        <input type="text" name="itemName"  value="<%= log.name %>" id="">
                        <textarea type="text" name="itemText"  value="<%= log.text %>" id=""><%= log.text %></textarea>
                        <input type="text" name="itemCover"  value="<%= log.img %>" id="">
                        <input type="text" hidden name="type" value="<%= log.discussionType %>" id="">
                        <button onclick="offRegister(); return confirm('Are you sure?');">Confirm</button>
                      </form>
                      <button onclick="offRegister()">Cancel</button>
                    </div>
                      <button onclick="onRegister()">Edit</button>
                      <form action="/deleteForumDiscussion/<%= log.discussionType %>/<%= forum.id %>/<%= log.id %>?_method=DELETE" method="post">
                        <button onclick="return confirm('Are you sure?');">Delete</button>
                      </form>
                    <% } %>
                  </tr>                 
                </th>
                <% count++; %>
              <% } %>
            <% }) %>
          <% } %>
          
        
    </tr>
</table>




<%-include('partials/footer')%>