<%-include('partials/head')%>
<a href="/logout"><Button>Logout</Button></a> <button onclick="javascript:history.back()">Go back</button><br>
<h1><%= type.toUpperCase() %> FORUM</h1>
<p class="rules">
  !!! <br>
    Rules: <br>
    Discuss the topic of the Forum <br>
    No race theory discussion <br>
    Do not post anything that would get the federal police involved 
    or I WILL report you <br>
  !!! <br>
</p>
<button onclick="onAdd()">New discussion</button>
<div id="overlay" class="add">
    <form action="/forum/add/<%= forum.id %>" method="post">
        <input type="text" hidden name="type" value="<%= type %>" id="">
        <input type="text" name="itemName" placeholder="Name of the topic"><br>
        <textarea name="itemText" placeholder="Type your ideas" id="" cols="30" rows="10"></textarea><br>
        <input type="text" name="itemCover" placeholder="Image link"><br>
        <button>Create post</button>
    </form>
    <button onclick="offAdd()">Cancel</button>
</div>

<table>
        <% let count = 0 
           let countans = 0  
           let countEditAns = 0   
        %>
        <% if (forum && forum.discussion) { %>
            <% forum.discussion.forEach((log) => { %>
              <tr>
              <% if (log.discussionType === type) { %>
                <th>
                  <% users.forEach((use) => { %>
                    <% if(use.id == log.user.id) {%>
                      <p>Post by: <a href="/user/<%= log.user.id %>"><%= use.username %></a></p> 
                      <% if(use.avatar) {%>
                        <img class="profilePicForum" src="<%= use.avatar %>" alt="">
                      <% } %>
                    <% } %>
                  <% }) %>
                    <h3><%= log.name %></h3><br>
                    <p><%= log.text %></p>
                    <% if(log.img !== "") {%>
                      <img src="<%= log.img %>" alt="">
                    <% } %>
                    <br>
                    <div id="overlay" class="addAnswer">
                      <form action="/forumAnswer/add/<%= forum.id %>/<%= log.id %>" method="post">
                          <textarea name="itemText" id="" cols="30" rows="10"></textarea>
                          <input type="text" name="itemCover">
                          <input type="text" name="type" value="<%= log.discussionType %>" hidden>
                          <button onclick="offAddAnswer(<%= countans%>)">Reply</button>
                      </form>
                      <button onclick="offAddAnswer(<%= countans%>)">Cancel</button>
                    </div>
                    <button onclick="onAddAnswer(<%= countans%>)">Reply</button>
                    <% countans++ %>
                    <p>Replies:</p><br>
                    <% log.answer.forEach((ans, indexAns) => { %>
                      <div class="answer">
                        <% users.forEach((use) => { %>
                          <% if(use.id == ans.user.id) {%>
                            <p>Replied by: <a href="/user/<%= ans.user.id %>"><%= use.username %></a><br>
                            <% if(use.avatar) {%>
                              <img class="profilePicForum" src="<%= use.avatar %>" alt="">
                            <% } %>
                          <% } %>
                        <% }) %>
                        <p><%= ans.text %></p>
                        <% if(ans.img !== "") {%>
                        <img src="<%= ans.img %>" alt="">
                        <% } %>
                      <% if(ans.user.id == user.id) {%>
                        <div id="overlay" class="editAnswer">
                          <form action="/updateForumAnswer/<%= forum.id %>/<%= log.id %>/<%= ans.id %>/<%= ans.user.id %>/<%= ans.user.username %>?_method=PATCH" method="post">
                            <textarea type="text" name="itemText"  value="<%= log.text %>" id=""><%= log.text %></textarea>
                            <input type="text" name="itemCover"  value="<%= log.img %>" id="">
                            <input type="text" hidden name="type" value="<%= log.discussionType %>" id="">
                            <button onclick="offEditAnswer(<%= countEditAns %>); return confirm('Are you sure?');">Confirm</button>
                          </form>
                          <button onclick="offEditAnswer(<%= countEditAns %>)">Cancel</button>
                        </div><br>
                        <button onclick="onEditAnswer(<%= countEditAns %>)">Edit answer</button>
                        <form action="/deleteForumAnswer/<%= log.discussionType %>/<%= forum.id %>/<%= log.id %>/<%= ans.id %>?_method=DELETE" method="post">
                          <button onclick="return confirm('Are you sure?');">Delete answer</button>
                        </form>
                        <% countEditAns++ %>
                      <% } %>
                    </div>
            
                    <% }) %>
                    
                    <% if(log.user.id == user.id) {%> 
                    <div id="overlay" class="editDiscuss">
                      <form action="/updateForumDiscussion/<%= forum.id %>/<%= log.id %>?_method=PATCH" method="post">
                        <input type="text" name="itemName"  value="<%= log.name %>" id="">
                        <textarea type="text" name="itemText"  value="<%= log.text %>" id=""><%= log.text %></textarea>
                        <input type="text" name="itemCover"  value="<%= log.img %>" id="">
                        <input type="text" hidden name="type" value="<%= log.discussionType %>" id="">
                        <button onclick="offEditDiscuss(<%= count %>); return confirm('Are you sure?');">Confirm</button>
                      </form>
                      <button onclick="offEditDiscuss(<%= count %>)">Cancel</button>
                    </div><br><br>
                    <button onclick="onEditDiscuss(<%= count %>)">Edit discussion</button>
                      <form action="/deleteForumDiscussion/<%= log.discussionType %>/<%= forum.id %>/<%= log.id %>?_method=DELETE" method="post">
                        <button onclick="return confirm('Are you sure?');">Delete discussion</button>
                      </form>
                      <% count++ %>  
                    <% } %>
                                
                </th>
              <% } %>
              </tr>
            <% }) %>
          <% } %>
          
        
</table>




<%-include('partials/footer')%>