<%-include('partials/head')%>
    <img class="detail" src="<%= backlog.cover  %>" alt="">
    <div class="detailsgame">
        <h2><%= backlog.name %></h2>
        <p><%= backlog.released  %></p>
        <% if(backlog.finishStatus == 1){ %>
            <p>Unstarted</p>
        <% } else if(backlog.finishStatus == 2){ %>
            <p>In progress</p>
        <% } else{ %>
            <p>Finished</p>
        <% } %>
        <form action="/delete/<%= backlog.id %>?_method=DELETE" method="post"> 
            <button>Remove game from your backlog</button>
        </form>
        

        <button  onclick="toggleVisibility('showEditGame')">ModifyPage</button>
        
        <div id="showEditGame" hidden>
            <form action="/update/<%= backlog.id %>?_method=PATCH" method="post"> 
                <input type="text" name="name" value="<%= backlog.name %>">
                <input type="text" name="released" value="<%= backlog.released %>">
                <input type="text" name="cover" value="<%= backlog.cover %>">
                <textarea name="description" id="" value="<%= backlog.description %>" cols="30" rows="10"><%= backlog.description %></textarea>
                <button>Save</button>
            </form>
            <button id="hideEditGame">Cancel</button>
        </div>
        <p>Your thoughts on the <%= backlog.type %>:</p>
        <p><%= backlog.description %></p>
        

    </div>
<%-include('partials/footer')%>