<%-include('partials/head')%>

    <h1>GAME BACKLOG</h1>
    <form action="/game" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="text" hidden value="true" name="doNotSave">
        <br>
        <button>Search</button>
    </form>
    <% if(resposta!=null){ %>
        <% for(result of resposta.results) {%>
            <form action="/game/add" method="post">
                <input type="text" hidden value="<%= result.name %>" name="itemName">
                <input type="text" hidden value="<%= result.image.original_url %>" name="itemImage">
                <input type="text" hidden value="<%= result.original_release_date %>" name="itemRelease">
                <input type="text" hidden value="false" name="doNotSave">
                <img src="<%= result.image.original_url %>" alt="">
                <p><%= result.name%></p>
                <p><%= result.original_release_date%></p>
                
                <button>Add</button>
            </form>
        <%}; %>
        
    <% } %>
    

    <% let count = 0 %>

    <table>
        <tr>
            
            <% backlogs.forEach(log => {if(log.user == user.id){%>
                <% if(count % 4 == 0){ %>  <tr></tr> <% } %>
                <th>
                    <p><%=log.name%></p>
                    <a href="/gamedetail/<%=log.id%>"><img src="<%= log.cover  %>" alt=""></a>
                    <% count++ %>
                </th>
            <%}}) %>
            
        </tr>
    </table>

<%-include('partials/footer')%>