<%-include('partials/head')%>
<a href="/logout"><Button>Logout</Button></a> <button onclick="javascript:history.back()">Go back</button><br>
    <img class="detail" src="<%= backlog.cover  %>" alt="">
    <div class="detailsgame">
        <h2><%= backlog.name %></h2>
        <p><%= backlog.released  %></p>
        <% if (customlog) {%>
            <form action="/update/<%= user.id %>/<%= backlog.id %>/<%= customlog.id %>?_method=PATCH" method="post">
        <% } else {%>
            <form action="/update/<%= user.id %>/<%= backlog.id %>/0?_method=PATCH" method="post">
            <% } %>
            <p>Score:</p>
            <div class="scoreInputs">
                <% if(backlog.score > 10) {%>
                    <input class = "gold" type="text" name="score" maxlength="5" size="5" value="<%= backlog.score  %>">
                <% } else if(backlog.score <=10 && backlog.score >= 7) {%>
                <input class = "green" type="text" name="score"  maxlength="5" size="5" value="<%= backlog.score  %>">
                <% } else if(backlog.score < 7 && backlog.score >= 4) {%>
                    <input class = "yellow" type="text" name="score" maxlength="5" size="5" value="<%= backlog.score  %>">
                <% } else if(backlog.score < 4) {%>
                
                    <input class = "red" type="text" name="score" maxlength="5" size="5" value="<%= backlog.score  %>">
                <% } else if(backlog.score == null) {%>
                    <input type="text" name="score" value="<%= backlog.score  %>">
                <% } else if(backlog.score.trim() === "DS2"){%>
                    <input class = "gold" type="text" name="score" maxlength="5" size="5" value="<%= backlog.score  %>">
                <% } else if(typeof backlog.score === 'string' || backlog.score instanceof String) {%>
                    <input type="text" name="score" maxlength="5" size="5"  value="<%= backlog.score  %>">
                <% } %>
                
                    <button hidden>save</button>
            </div>
        </form>
            <label for="finishStatus">Your progress:</label>
            <% if (customlog) {%>
                <form action="/update/<%= user.id %>/<%= backlog.id %>/<%= customlog.id %>?_method=PATCH" method="post">
            <% } else {%>
                <form action="/update/<%= user.id %>/<%= backlog.id %>/0?_method=PATCH" method="post">
                <% } %>
            <select name="finishStatus" id="prog"  onchange="this.form.submit()">
            <% if(backlog.finishStatus == 1) {%>
            <option value="1" selected>Unstarted</option>
            <option value="2">Started</option>
            <option value="3">Finished</option>
            <% } else if (backlog.finishStatus == 2) {%>
                <option value="1" >Unstarted</option>
                <option value="2" selected>Started</option>
                <option value="3">Finished</option>
            <% } else {%>
                <option value="1" >Unstarted</option>
                <option value="2" >Started</option>
                <option value="3" selected>Finished</option>
            <% } %>>
            </select> 
        </form>
        <div id="overlay" class="add">
        <% if (customlog) {%>
            <form action="/update/<%= user.id %>/<%= backlog.id %>/<%= customlog.id %>?_method=PATCH" method="post">
        <% } else {%>
            <form action="/update/<%= user.id %>/<%= backlog.id %>/0?_method=PATCH" method="post">
            <% } %>
                    <input type="text" name="itemName" value="<%= backlog.name %>"><br><br>
                    <input type="text" name="itemReleased" value="<%= backlog.released %>"><br><br>
                    <input type="text" name="itemCover" value="<%= backlog.cover %>"><br><br>
                    <textarea name="itemDescription" id="" value="<%= backlog.description %>" cols="30" rows="10"><%= backlog.description %></textarea><br><br>
                    <button>Save</button>
            </form>
            <button  onclick="offAdd()">Cancel</button>
        </div>
        <p>Your thoughts on the <%= backlog.type %>:</p>
        <p><%= backlog.description %></p>        

        <button onclick="onAdd()">ModifyPage</button>
        <% if(backlog.type === "game" || backlog.type === "movie") {%>
        <form action="/delete/<%= user.id %>/<%= backlog.id %>/0?_method=DELETE" method="post"> 
        <% } else if (customlog){%>
            <form action="/delete/<%= user.id %>/<%= backlog.id %>/<%= customlog.id %>?_method=DELETE" method="post"> 
        <% } %>
            <input type="text" name="type" value="<%= backlog.type %>" hidden>
            <button onclick="return confirm('Are you sure?');">Remove <%= backlog.type %> from your backlog</button>
        </form>
    </div>
<%-include('partials/footer')%>